<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    .msg-box {
        padding: 10px;
        border-radius: 10px;
    }
    .msg-success {
        background: #BFE9CF;
        color: #3F7F5E;
    }
    .msg-error {
        background: #FADBD8;
        color: #78281F;
    }
</head>
<body>

    <form action="/add_book" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="author">Choose an Author:</label>
        <select name="author" id="author">
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select>
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn"><br><br>
        <input type="submit" value="Add Book">
    </form>
     {% if message %}
        <p class="msg-box {{ 'msg-error' if error else 'msg-success' }}">
            {{ message }}
        </p>
    {% endif %}
</body>
</html>
